services:
  - type: web
    name: voice-api
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      apt-get update
      apt-get install -y libsndfile1 ffmpeg
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: uvicorn app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
